
  <div class="container"> 
  <div class="row">
    <div class="col-md-12">
      <h1>
        hello mayuri 
    </h1>
    <hr>
    </div>
</div>
 <div class="row">
    <div class="col-md-12">
      <h1>
        {{componentName}} 
    </h1>
    <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
      <h1>
        {{myFun()}} 
    </h1>
    <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
     <app-hi></app-hi>
    <hr>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
     <input type={{ipType}} value="OK">
     <input [type]=ipType value="REJECT">
    <hr>
    </div>
</div>
div class="row">
    <div class="col-md-12">
     <input type=""text" [(mgModel)]="xyz"/> {{xyz}}
    <hr>
    </div>
</div>
</div>
